.card-tarefa {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  width: 100%;
  border: none; 
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 0.5rem 0.8rem;
  align-items: start;
  
}


.card-tarefa h3,
.nova-tarefa-form .form-titulo {
  grid-column: 1 / -1;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #7a7a7a;
}


.card-tarefa .lado-esquerdo,
.nova-tarefa-form .form-info-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  align-items: flex-start;
  padding-left: 10px;
}


.card-tarefa .card-info,
.nova-tarefa-form .card-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.9rem;
  color: #f5f5f5;
  margin: 0;
  
}


.card-tarefa .descricao,
.nova-tarefa-form .descricao {
  text-align: left;
  font-size: 0.9rem;
  color: #f0f0f0;
  line-height: 1.3;
  margin: 0;
  padding-left: 0.8rem;
  border-left: 1px solid #7a7a7a; 
  height: 100%;
}


.coluna:nth-child(1) .card-tarefa:not(.nova-tarefa-form) {
  background-color: #7a5c4b;
}
.coluna:nth-child(2) .card-tarefa:not(.nova-tarefa-form) {
  background-color: #3e4f6e;
}
.coluna:nth-child(3) .card-tarefa:not(.nova-tarefa-form) {
  background-color: #397d7c;
}


.nova-tarefa-form {
  background-color: #3c3e44;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 0.5rem 0.8rem;
  align-items: start;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  width: 100%;
  border:none;
}


.nova-tarefa-form input,
.nova-tarefa-form textarea {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  width: 100%;
  outline: none;
}

.nova-tarefa-form textarea {
  resize: none;
  height: 30px;
}


.form-btns {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  margin-top: 0.3rem;
  padding-left: 50px;
  padding-right: 50px;
}

.form-btns button {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: white;
}

.form-btns button:hover {
  opacity: 0.7;
}
.icone{
  width: 20px;
  height: 20px;
  
}
.icone-ca{
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.icone-btn{
  width: 20px;
  height: 20px;
}