.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3a3a;
  padding: 1rem;
  position: relative;
}

.coluna:not(:last-child) {
  border-right: 5px solid #bfbfbf;
  border-radius: 2px;
  
}

.coluna h2 {
 text-align: center;
  color: #f1f1f1;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 38px;
  font-weight: 600;

}

.coluna-divider {
  width: 100%;
  height: 5px;
  background-color: #bfbfbf;
  margin-bottom: 1rem;
  border-radius: 2px;
  
}




.add-tarefa-btn {
  
  width: 70%;
  background-color: #3c3e44;
  border: none;
  color: white;
  font-size: 2.5rem;
  border-radius: 10px;
  padding: 0.4rem 0;
  margin-top: 0.9rem;
  cursor: pointer;
}


