.app-container {
  padding: 24px;
  height: 100vh;
  width: 100vw;
  

  background-color: #272727;
}

.quadro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  
  
  background-color: #3a3a3a;
  border: 13px solid #bfbfbf;
  border-radius: 10px;
  padding: 29px;
  
  height: 100%;
  overflow-y: auto;
}